<div>
  <div class="card text-center">
    <div class="card-header">
      <div>
      <mat-icon style="margin-top: 5px">school</mat-icon>
      </div>
      <b>Adicionar MindFlow</b>
    </div>
    <div>
      <label for="descricao"><b>A ESTUDAR:</b></label>
      <input
        type="text"
        id="descricao"
        [(ngModel)]="tarefa.descricao"
        name="descricao"
        required
      />

      <label for="prioridade"><b>PRIORIDADE:</b></label>
      <select
        id="prioridade"
        [(ngModel)]="tarefa.prioridade"
        name="prioridade"
        required
      >
        <option value="BAIXA">BAIXA</option>
        <option value="MÉDIA">MÉDIA</option>
        <option value="ALTA">ALTA</option>
      </select>
    </div>
    <div class="card-footer text-body-secondary">
      <button
      class="btn btn-outline-dark btn-lg"
        type="button"
        (click)="adicionarTarefa()"
      >
        Adicionar MindFlow
      </button>
    </div>
  </div>
  <div class="card cart" style="width: 18rem">
    <div class="percentage-label">{{ porcentagemTarefas }}%</div>
    <mat-progress-spinner
      style="margin-top: 5px"
      class="example-margin"
      [color]="color"
      [mode]="mode"
    ></mat-progress-spinner>
    <div class="card-body">
      <h5 class="card-title"><b>PROGRESSO</b></h5>
      <button class="btn btn-outline-danger" type="button" (click)="excluirTodasTarefas(tarefa)">Limpar Minds</button>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div
      class="col-md-4"
      *ngFor="let tarefa of tarefasUsuario"
    >
      <div class="card cart mb-4">
        <mat-icon style="margin-top: 5px">school</mat-icon>
        <div>
          <p><b>A ESTUDAR</b></p>
          {{ tarefa.descricao }}
          <p><b>NIVEL DE PRIORIDADE</b></p>
          {{ tarefa.prioridade }}
        </div>
        <div
          [style.color]="getSpinnerColor(tarefa.prioridade)"
          class="spinner-grow"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="form-check form-switch">
          <input
            [(ngModel)]="tarefa.concluido"
            (change)="checkboxChange(tarefa)"
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            name="concluido"
            checked
            [disabled]="tarefa.concluido === true"
          />
          <mat-icon class="icon" (click)="excluirTarefa(tarefa)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
