<mat-toolbar>
  <span class="toolbar-title" >MindFlow - Sistema de Organização de Tarefas</span>
  <div class="user-info">
    Olá, {{ usuarioLogado.nomeCompleto }}<!-- Exibe o nome da pessoa logada -->
    <mat-slide-toggle style="margin-left: 10px;">
      <mat-icon>brightness_2</mat-icon>
    </mat-slide-toggle>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>account_balance</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item routerLink="/perfil">
        <mat-icon>fingerprint</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>spa</mat-icon>
        <span>MindFlow</span>
      </button>
      <button mat-menu-item (click)="deslogar()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
</div>
</mat-toolbar>
<div class="center-card">
  <mat-card class="profile-card">
    <div class="avatar-container">
    <mat-icon class="avatar">person</mat-icon>
    </div>
    <h1>{{ usuarioLogado.nomeCompleto }}</h1>
    <mat-card class="cardisinho">EMAIL</mat-card>
    <p>{{ usuarioLogado.email }}</p>
    <mat-card class="cardisinho">SENHA</mat-card>
    <p>{{ usuarioLogado.senha }}</p>
    <button (click)="salvarPerfil()">Salvar</button>
    <button>Editar</button>
  </mat-card>
</div>
