<div class="center-content">
  <mat-card class="card-register">
    <div>
      <span class="material-symbols-outlined">neurology</span>
   </div>
    <mat-card-title>Crie a sua conta</mat-card-title>
    <form [formGroup]="formulario" (ngSubmit)="realizarRegistro()">
      <mat-card-content class="conteudo-register">
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. seuemail@example.com">
          <mat-error >
            Email é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Nome Completo</mat-label>
          <input  type="text" matInput formControlName="nomeCompleto" placeholder="Ex. João da Silva">
          <mat-error>
            Nome completo é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Endereço</mat-label>
          <input  type="text" matInput formControlName="enderecoPessoal" placeholder="Ex. Rua Principal, 123">
          <mat-error>
            Endereço é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Senha</mat-label>
          <input  type="password" matInput formControlName="senha">
          <mat-error>
            Senha é <strong>obrigatória</strong>.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </form>

    <mat-card-actions>
      <button mat-button color="primary" class="full" (click)="realizarRegistro()">Registrar</button>
      <button mat-button color="primary" class="full"  routerLink="/login">Entrar</button>
    </mat-card-actions>
  </mat-card>
</div>
