<div class="titulo">
  <mat-icon>spa</mat-icon>
  <h1><b>ORGANIZE SUA MENTE COM O MINDFLOW</b></h1>
</div>

<div class="container">
<mat-card class="card estudos">
  <div class="hover-text">
    <h1><b>ESTUDOS</b></h1>
  </div>
  <div class="hover-text" style="margin-bottom: 60px;"><mat-icon>school</mat-icon></div>
</mat-card>
<mat-card class="card saude">
  <div class="hover-text">
    <h1><b>SAÚDE</b></h1>
  </div>
  <div class="hover-text" style="margin-bottom: 65px;"><mat-icon> local_hospital</mat-icon></div>
</mat-card>
<mat-card class="card espiritual">
  <div class="hover-text">
    <h1><b>ESPIRITUAL</b></h1>
  </div>
  <div class="hover-text" style="margin-bottom: 65px;"><mat-icon>remove_red_eye</mat-icon></div>
</mat-card>
</div>
