<div class="titulo">
  <mat-icon>spa</mat-icon>
  <h1><b>ORGANIZE SUA MENTE COM O MINDFLOW</b></h1>
</div>

<div class="container">
  <mat-card class="card estudos" routerLink="/mind-estudo">
    <div class="hover-text">
      <h1><b>ESTUDOS</b></h1>
    </div>
    <div class="hover-text" style="margin-bottom: 60px">
      <mat-icon>school</mat-icon>
    </div>
  </mat-card>
  <mat-card class="card saude" routerLink="/mind-saude">
    <div class="hover-text">
      <h1><b>SAÚDE</b></h1>
    </div>
    <div class="hover-text" style="margin-bottom: 65px">
      <mat-icon>fitness_center</mat-icon>
    </div>
  </mat-card>
  <mat-card class="card espiritual" routerLink="/mind-espiritual">
    <div class="hover-text">
      <h1><b>ESPIRITUAL</b></h1>
    </div>
    <div class="hover-text" style="margin-bottom: 65px">
      <mat-icon>remove_red_eye</mat-icon>
    </div>
  </mat-card>
  <mat-card class="card escolha" routerLink="/mind-novo">
    <div class="hover-text">
      <h1><b>ESCOLHA</b></h1>
    </div>
    <div class="hover-text" style="margin-bottom: 65px">
      <mat-icon>add_circle_outline</mat-icon>
    </div>
  </mat-card>
</div>
