<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="signup-box">
    <h2>Cadastrar</h2>
    <form>
      <div class="user-box">
        <input type="text" name="nomeCompleto" [(ngModel)]="perfil.nomeCompleto" required>
        <label>Nome Completo</label>
      </div>
      <div class="user-box">
        <input type="text" name="email" [(ngModel)]="perfil.email" required>
        <label>E-mail</label>
      </div>
      <div class="user-box">
        <input type="password" name="senha" [(ngModel)]="perfil.senha" required>
        <label>Senha</label>
      </div>
      <div class="buttons-container">
        <a (click)="cadastrarPerfil()" class="btn btn-signup">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          CADASTRAR
        </a>
        <div class="login">
          <span>Já tem uma conta?</span>
        </div>
        <a [routerLink]="['/login']" class="btn btn-login" style="margin-top: 10px;">ENTRAR
        </a>
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
