.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #87CEEB, #1E90FF);
}

.material-symbols-outlined {
  font-size: 150px;
}


.card-login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 13%;
  background-color: #ffffff; /* Cor branca para o card */

}

.full {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
