<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
<div class="center-content">
  <mat-card class="card-login">
    <mat-card-title></mat-card-title>
    <div>
    <span class="material-symbols-outlined">
      neurology</span>
    </div>
    <form [formGroup]="usuarioLogado" novalidate>
      <mat-card-content class="conteudo-login">
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. perukas@example.com">
          <mat-error>
            Email é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="senha">
          <mat-error>
            Senha é <strong>obrigatória</strong>.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </form>

    <mat-card-actions>
      <button mat-button color="black" class="full" (click)="realizarLogin()" >Entrar</button>
      <button mat-button color="black" class="full" routerLink="/registro">Registrar</button>
    </mat-card-actions>
  </mat-card>
</div>
