.btn{
  margin-top: 10px;
  border-radius: 25px;
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}


.user-info {
  display: flex;
  align-items: center;
}


.user-info mat-icon-button {
  margin-left: 8px;
}


.user-info mat-icon {
  vertical-align: middle;
}




@media (max-width: 600px) {
  .main-content {
    padding: 10px;
  }
}
